.f-menu {
    gap: 1.5rem;
    margin-top: 1.5rem; /* Fix the typo here */
}

.image {
    border-radius: 50% 50% 0 0;
}

.f-wrapper {
    background-color: #f8f8f8;
}

.f-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.f-left {
    flex: 1;
    gap: 1rem;
}

.f-right {
    flex: 1;
    text-align: right;
    margin: 7rem 0 0 10rem;
}

.secondaryText {
    line-height: 1.6;
}
